<div [class.class1]="true">

  <h3 [ngClass]="{class2: true}">Головна</h3>
  <button (click)="myEvent($event)">Event</button>

  <hr/>
  <hr/>

  <button *ngIf="isCollapsed" (click)="toggleColapse()">Показати</button>
  <button *ngIf="!isCollapsed" (click)="toggleColapse()">Сховати</button>
  <div *ngIf="!isCollapsed">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio maiores veniam nihil quo!
     Dolore similique quo voluptas provident molestiae minima tempore eaque ad debitis sapiente harum,
      magni libero voluptate explicabo!</p>
  </div>
  <hr/>
  <hr/>

  <input type="text" [(ngModel)]="text">
  <p>{{text}}</p>

</div>

  <p [ngStyle]="{'color':'green', 'margin':'10px'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam recusandae fuga possimus dolorum voluptatibus corporis consequuntur illum, vel voluptatem nemo maxime ratione molestias molestiae distinctio quos fugiat numquam alias aspernatur?</p>

  <hr/>

  <div [ngClass]="{a: b}">
    <h2>Lorem, ipsum.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente necessitatibus dicta dignissimos vitae aperiam. Ducimus repellat voluptatibus reiciendis natus aliquam?</p>
  </div>

  <button (click)="toggle()">Toggle</button>
