$w: 100%;
$m: 5px;
$wPx: 100px;
$bgcColor: rgba(255, 209, 209, 0.534);
$white: white;

body{
    background-image: url(./img/flora.jpg);
   /* background: linear-gradient(200deg, rgba(42, 135, 235, 0.726), rgba(88, 19, 85, 0.61)), url(./img/flora.jpg); */
}

#cont{
    width: $w/1.5;
    height: 95vh;
    background-color: $bgcColor;
    margin: $m*3 auto;
    
    display: flex;
    flex-direction: column;
    text-align: center;

    box-shadow: 5px 5px 20px black;
    border-radius: 5px;

    #head{
        width: $wPx*2;
        height: $wPx*4; 
        border-radius: $m;
        position: absolute;
        margin-left: $m*2;
        background-color: transparent;

        #foto{
            width: $wPx*2;
            height: $wPx*2;
            border-radius: $w/2;
            transition: all ease 2s;
            margin: $m*2;

            &:hover{
                transform: scale(1.2);
            }
        }

        #name{
            width: $wPx*2;
        }
    }

    #info{
        width: $w;
        height: $wPx*2;
        background-color: red;
        border-radius: $m;
    }

    #workInfo{
        width: $w/2;
        height: $wPx*3;
        background-color: rgb(182, 76, 76);
        text-align: left;

    }
}